/* Style reset. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive Text */
html {
    font-size: calc(15px + 0.390625vw);
}
/* Default styling for p elems. */
p {
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
}

/* Custom Fonts */
@font-face {
    font-family: 'bruno';
    src: url('./assets/fonts/BrunoAce-Regular.ttf');
}
@font-face{
    font-family: 'roboto';
    src: url('./assets/fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('./assets/fonts/RobotoCondensed-Bold.ttf');
}
/* Navigation elements */
div.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: all 0.3s ease;
}
ul.menu-items > li > a {
    text-decoration: none;
}
ul.menu-items {
    list-style: none;
}

/* Main App */
div.main-app {
    display: grid;
    grid-template-rows: 1fr 3fr .5fr 1fr .8fr;
    grid-template-columns: 1fr minmax(70%, 400px) 1fr;
    grid-template-areas: 
    "left top right"
    "left mid right"
    "left bottom right"
    "left astro right"
    "left search right";
    height: 100vh;
}
div.top-area {
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p.location {
    font-family: 'roboto-bold' sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
}
div.temp-display {
    grid-area: mid;
}
div.bottom-area {
    grid-area: bottom;
}
div.search-bar {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.location-display {
    display: flex;
    justify-content: center;
}
div.date-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.weather-status-display{
    display: flex;
    justify-content: center;
}
div.temp-display{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    user-select: none;
}
h1.temperature{
    font-family: 'bruno', sans-serif;
}
div.feel-display {
    display: flex;
    justify-content: center;
}
div.wind-humidity-display {
    display: flex;
    justify-content: center;
}
div.astro-info {
    grid-area: astro;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "title title title title title"
    "sunrise sunset moonphase moonrise moonset";
    display: grid;
}
div.astro-heading {
    grid-area: title ;
}
div.astro-heading > p.astro-heading-text {
    font-family: 'roboto-bold' sans-serif;
}

/* Form styling. */
form#weather-form { 
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
input#location-input{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
}
input#location-input::placeholder {
    color: #bbb;
}
input#location-input:focus {
    outline: none;
}
button#location-submit{
    text-indent: -999px;
    overflow: hidden;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url(./assets/icons/search-outline.svg) no-repeat;
    cursor: pointer;
    opacity: 0.7;
}
button#location-submit:hover {
    opacity: 1;
}


/* Weather Classes */
.sunny {
    background-color: #fab802;
}
.cloudy {
    background-color: #c8d5db;
}
.overcast {
    background-color: #dae0e3;
}
.rain {
    background-color: #30dcf2;
}

