/* Style reset. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation elements */
div.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    
    transition: all 0.3s ease;
}
ul.menu-items > li > a {
    text-decoration: none;
}
ul.menu-items {
    list-style: none;
}

/* Main App */
div.main-app {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 1fr minmax(50%, 400px) 1fr;
    grid-template-areas: 
    "left top right"
    "left mid right"
    "left bottom right"
    "left search right";
    height: 100vh;
}
div.top-area {
    grid-area: top;
}
div.temp-display {
    grid-area: mid;
}
div.bottom-area {
    grid-area: bottom;
}
div.search-bar {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

